#balance_jumbo{
  background-color:lightgrey;
  padding: 3rem;
}

.negative {
  background-color: red !important;
}

.center-table
{
  margin: 0 auto !important;
  float: 3em !important;
}
.table, tr, td{
  border:5px solid;
  /*padding-right: 5rem;
  padding-top: 5rem;*/

  text-align:center;

}

td {
  height: 10em;
  width: 10em;
}

li {
  margin-right: 25px;
}

.fa-times {
  color: red;
}
